*{
    
    .container{
                    margin-top: 100px;
                    
                }
                .newarrival{
                    background-color:  green;
                    width: 50px;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            
                .col-md-7 h2{
                    color: #580
                }
                .preco{
                    color: #FE980F;
                    font-size: 26px;
                    font-weight: bold;
                    padding-top: 20px;
                }
               
            }
    
    
    



